* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'sansita', sans-serif;
    background-color: black;
    display: grid;
    overflow-x: hidden;
    color: blueviolet;
    background-image: url('backgroundimggg.png');
}

nav {
    z-index: 10;
    position: sticky;
    top: 0px;
}

ul {
    list-style-type: none;
    width: 100vw;
    text-align: center;

}

li {
    display: inline-block;
    padding: 4vw;
    height: 40px;
    width: 15vw;
    background-color: black;
    transform: translateY(-40%);
}

li:hover {
    transform: translateY(-20%);

}

li>a {
    text-decoration: none;
    color: blueviolet;
    font-size: 2vw;
}

.centered {
    font-size: 130px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    color: blueviolet;
}

.banner>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#small {
    font-size: 60px;
    font-weight: 600;
    transform: translate(-50%, 120%);
    color: blueviolet;
}

#sekcjaOferty {
    margin: auto;
    margin-top: 900px;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 250px);
}

.naglowek {
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    color: blueviolet;
}

hr {

    margin: auto;
    margin-top: 5%;
    width: 50%;
    border-color: blueviolet;
}

#oferta {
    grid-column: 2/3;
    grid-row: 1/2;

}

#ofertaLite {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 10px;
    text-align: center;
    width: 80%;
    margin: auto;
}

#ofertaBasic {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 10px;
    text-align: center;
    width: 80%;
    margin: auto;
}

#ofertaPremium {
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 10px;
    text-align: center;
    width: 80%;
    margin: auto;
}

.naglowekOferty {
    font-size: 40px;
    margin: auto;
    text-align: center;
}

.subskrybuj {
    font-size: 20px;
    background: blueviolet;
    margin: auto;
    margin-top: 10%;
    width: 10vw;
    height: 5vh;

}

#sekcjaArtykulow {
    margin: auto;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 250px);
}

#artykuly {
    grid-column: 2/3;
    grid-row: 1/2;

}

#artykul1 {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 10px;
    text-align: center;
    width: 80%;
    margin: auto;
}

#artykul2 {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 10px;
    text-align: center;
    width: 80%;
    margin: auto;
}

#artykul3 {
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 10px;
    text-align: center;
    width: 80%;
    margin: auto;
}

.naglowekArtykulu {
    font-size: 40px;
    margin: auto;
    text-align: center;
}

.zdjecieArtykulu {
    width: 100%;
}

#sekcjaGalerii {
    margin: auto;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px repeat(2, 550px) 250px;
    gap: 10px;
}

#galeria {
    grid-column: 2/3;
    grid-row: 1/2;

}

#zdj1 {
    grid-column: 1/3;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
}

#zdj2 {
    grid-column: 3/4;
    grid-row: 2/3;
    width: 100%;
    height: 100%;

}

#zdj3 {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 100%;
    height: 100%;

}

#zdj4 {
    grid-column: 2/4;
    grid-row: 3/4;
    width: 100%;
    height: 100%;

}

#sekcjaKontaktu {
    margin: auto;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 250px);
}

#kontakt {
    grid-column: 2/3;
    grid-row: 1/2;
}

form {
    grid-column: 1/4;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.imie {
    font-size: 40px;
    text-align: center;
    flex-basis: 33%;
}

.imie>input {
    height: 40px;
    font-size: 20px;
    width: 50%;
    background-color: rgb(171, 97, 240);
    text-align: center;
    text-transform: capitalize;
}

.mail {
    font-size: 40px;
    text-align: center;
    flex-basis: 33%;
}

.mail>input {
    height: 40px;
    font-size: 20px;
    width: 50%;
    background-color: rgb(171, 97, 240);
    text-align: center;
    text-transform: capitalize;
}

.zgoda {
    align-self: flex-end;
    margin: auto;
    flex-basis: 100%;

}

.wiadomosc {
    font-size: 40px;
    text-align: center;
    flex-basis: 33%;
}

.wiadomosc>textarea {
    height: 200px;
    font-size: 30px;
    width: 80%;
    background-color: rgb(171, 97, 240);
    resize: none;
    text-transform: capitalize;
}

.wyslij {
    color: black;
    background-color: blueviolet;
    margin-left: 42.5%;
    margin-top: 5%;
    width: 15%;
    height: 60px;
    font-size: 40px;
}


footer {
    height: 90px;
    text-align: center;
    font-size: 20px;
    background-color: blueviolet;
    color: black;
}

footer>a {
    display: block;
    margin: auto;
    text-decoration: none;
    color: black;
}

footer>a:hover {
    color: rgb(145, 114, 173);
}

@media screen and (max-width:1100px) {

    #sekcjaOferty {
        width: 90vw;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4, 350px);
    }

    #ofertaLite {
        grid-column: 1/4;
        grid-row: 2/3;
        padding: 10px;
        text-align: center;
        width: 60%;
        margin: auto;
    }

    #ofertaBasic {
        grid-column: 1/4;
        grid-row: 3/4;
        padding: 10px;
        text-align: center;
        width: 60%;
        margin: auto;
    }

    #ofertaPremium {
        grid-column: 1/4;
        grid-row: 4/5;
        padding: 10px;
        text-align: center;
        width: 60%;
        margin: auto;
    }

    .subskrybuj {
        background: blueviolet;
        margin: auto;
        margin-top: 10%;
        width: 40vw;
        height: 5vh;

    }

    #sekcjaArtykulow {
        width: 90vw;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 250px repeat(3, 550px) 250px;
    }

    #artykuly {
        grid-column: 2/3;
        grid-row: 1/2;

    }

    #artykul1 {
        grid-column: 1/4;
        grid-row: 2/3;
        padding: 10px;
        text-align: center;
        width: 60%;
        margin: auto;
    }

    #artykul2 {
        grid-column: 1/4;
        grid-row: 3/4;
        padding: 10px;
        text-align: center;
        width: 60%;
        margin: auto;
    }

    #artykul3 {
        grid-column: 1/4;
        grid-row: 4/5;
        padding: 10px;
        text-align: center;
        width: 60%;
        margin: auto;
    }

    .naglowekArtykulu {
        font-size: 40px;
        margin: auto;
        text-align: center;
    }

    .zdjecieArtykulu {
        width: 80%;
        margin: auto;
    }

    #sekcjaGalerii {
        width: 90vw;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 250px repeat(3, 350px) 250px;
        gap: 10px;
    }

    #galeria {
        grid-column: 2/3;
        grid-row: 1/2;

    }

    #zdj1 {
        grid-column: 1/4;
        grid-row: 2/3;
        width: 100%;
        height: 100%;
    }

    #zdj2 {
        grid-column: 1/2;
        grid-row: 3/4;
        width: 100%;
        height: 100%;

    }

    #zdj3 {
        grid-column: 2/4;
        grid-row: 3/4;
        width: 100%;
        height: 100%;

    }

    #zdj4 {
        grid-column: 1/4;
        grid-row: 4/5;
        width: 100%;
        height: 100%;

    }

    .wyslij {
        color: black;
        background-color: blueviolet;
        margin-left: 22.5%;
        margin-top: 5%;
        width: 55%;
        height: 60px;
        font-size: 40px;
    }


    .centered {
        font-size: 10vw;
        font-weight: 700;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        color: blueviolet;
    }

    #small {
        font-size: 6vw;
        font-weight: 600;
        transform: translate(-50%, 120%);
        color: blueviolet;
    }

    li {
        display: inline-block;
        padding: 4vw;
        height: 10vw;
        width: 20vw;
        background-color: black;
        transform: translateY(-40%);
    }

    li>a {
        margin: auto;
        text-decoration: none;
        color: blueviolet;
        font-size: 4vw;
    }
}